.resetPassword{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 90px;
  text-align: center;
  background-color: cornflowerblue;
}
.mat-button{
  alignment: center;
  background-color: chartreuse;
}
.resetPasswordInput{
  width: 100%;
}
.resetPasswordInputButton{
  font-size: x-small;
  width: 10px;
  height: 10%;
  margin-left: -10%;
  margin-right: 10%;

}
